# This is a systemd unit file for managing the Grafana Service Stack

[Unit]
Description=Grafana Service Stack
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=%h/grafana-podman/grafana-service.env
ExecStart=${SYSTEMD_SCRIPTS_DIR}/grafana-service-ctrl.sh start
ExecStop=${SYSTEMD_SCRIPTS_DIR}/grafana-service-ctrl.sh stop
ExecReload=${SYSTEMD_SCRIPTS_DIR}/grafana-service-ctrl.sh restart

[Install]
WantedBy=default.target
