# This is a systemd unit file for managing the Grafana Service Stack
# 1. copy this file to ${HOME}/.config/systemd/user/grafana.service
# 2. systemctl --user daemon-reload
# 3. systemctl --user enable --now grafana.service

[Unit]
Description=Grafana Service Stack
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/grafana-podman/grafana-service-ctrl.sh start
ExecStop=%h/grafana-podman/grafana-service-ctrl.sh stop
ExecReload=%h/grafana-podman/grafana-service-ctrl.sh restart

[Install]
WantedBy=default.target
